
@model WebMessenger.Models.User_Chat

@using (Html.BeginForm("ChatAsync", "Messenger", FormMethod.Post)) {
    @if (Model.Friends.Count > 0) {
        @foreach (var item in Model.Friends) {
            <input class="addFriendButton" name="id" type="submit" id="@item.Name" value="@item.Name" /> <input class="addFriendButton" name="id" type="submit" id="@item.Name" value="@item.Name" />
        }
    }
}


@{
    if (!string.IsNullOrEmpty(Model.selectedChat)) {

        <div class="display">
            <table border="1">
                <tr>
                    <th></th>
                    <th></th>
                </tr>

                @{

                    foreach (WebMessenger.Models.ChatEntry s in Model.Chat) {
                        string link = "https://thetangle.org/transaction/" + s.TransactionID;

                        <tr>
                            <td><a target="_blank" href="@link">link</a></td>
                            <td>@s.Name : @s.Message</td>
                        </tr>
                    }
                }

            </table>
        </div>
        <div class="input">

            @using (Html.BeginForm("SendMessageAsync", "Messenger", FormMethod.Post)) {
                <input type="text" name="Message" id="Message" />

                <input type="submit" value="Send" />
            }
        </div>
    }

}
