@model WebMessenger.Models.User_Chat
@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_NavBar")

<div class="layout">
    <div class="Chat_ButtonPanel">

        <label class="SubHeadings">Mail</label>

        <div class="Chat_FunctionGroup">
            <label class="Chat_SubSubHeadings">Add Friend</label>
            @using (Html.BeginForm("MakeConnectionAsync", "Messenger", FormMethod.Post)) {
                <input type="text" name="Name" class="Chat_Inputfunction Inputfield" />
                <input class="GeneralButton Chat_SubmitButton" type="submit" value="Add Friend" />
            }
        </div>
        <div class="Chat_FunctionGroup">
            <label class="Chat_SubSubHeadings">Select Chat</label>
            @using (Html.BeginForm("ChatAsync", "Messenger", FormMethod.Post)) {
                <select name="id" class="Chat_Inputfunction Chat_DropDown">
                    @foreach (User user in Model.Friends) {
                        <option value="@user.Name">@user.Name</option>
                    }
                </select>
                <input class="GeneralButton Chat_SubmitButton" type="submit" value="Show Chat" />

            }
        </div>
    </div>
    <div class="Chat_ChatPanel">
        @Html.Partial("_ChatDisplay", Model)
    </div>
</div>

@Html.Raw(TempData["msg"])





