@model WebMessenger.Models.User_Chat
@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_NavBar")

<div class="layout">
    <div class="function">

        <label id="headingText">Mail</label>

        <div id="addFriend">
            <label class="subHeading">Add Friend</label>
            @using (Html.BeginForm("MakeConnectionAsync", "Messenger", FormMethod.Post)) {
                <input type="text" name="Name" class="inputElement" />
                <input id="submitButton" type="submit" value="Add Friend" />
            }
        </div>

        <div id="selectFriend">
            <label class="subHeading">Select Chat</label>
            @using (Html.BeginForm("ChatAsync", "Messenger", FormMethod.Post)) {
                <select class="inputElement" name="id">
                    @foreach (User user in Model.Friends) {
                        <option value="@user.Name">@user.Name</option>
                    }
                </select>
                <input id="submitButton" type="submit" value="Show Chat" />

            }
        </div>
    </div>
    <div class="chat">
        @Html.Partial("_ChatDisplay", Model)
    </div>
</div>

@Html.Raw(TempData["msg"])





