@model WebMessenger.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_NavBar", 0)

<table>
    <tr>
        <th>Login</th>
        <th>Register</th>
    </tr>
    <tr>
        <td>
            <div>
                @using (Html.BeginForm("CheckLoginAsync", "Messenger", FormMethod.Post)) {
                    <table>
                        <tr>
                            <td>Name</td>
                            <td>@Html.TextBoxFor(model => model.Name)</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td> @Html.TextBoxFor(model => model.PW)</td>
                        </tr>
                        <tr>
                            <td><br /></td>
                            <td><br /></td>
                        </tr>
                        <tr>
                            <td colspan="2" height="40">
                                <button class="submitButtonTable" type="submit">Login</button>
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </td>
        <td>
            <div>
                @using (Html.BeginForm("RegisterAsync", "Messenger", FormMethod.Post)) {
                    <table>
                        <tr>
                            <td>Name</td>
                            <td>@Html.TextBoxFor(model => model.Name)</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td> @Html.TextBoxFor(model => model.PW)</td>
                        </tr>
                        <tr>
                            <td>Seed</td>
                            <td> @Html.TextBoxFor(model => model.Seed)</td>
                        </tr>
                        <tr>
                            <td colspan="2" height="40">
                                <button class="submitButtonTable" type="submit">Register</button>
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </td>
    </tr>

</table>
