@model WebMessenger.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_NavBar", Model)

<div class="Login_Layout">
    <div class="Login_LoginPanel">
        <div class="Login_innerCenter">
            <label class="SubHeadings">Login</label>

            @using (Html.BeginForm("CheckLoginAsync", "Messenger", FormMethod.Post)) {


                <div class="Login_inputRow">
                    <label>Name</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "General_Inputfield" })
                </div>
                <div class="Login_inputRow">
                    <label>Password</label>
                    @Html.TextBoxFor(model => model.PW, new { @class = "General_Inputfield", type = "password" })
                </div>
                <div class="Login_inputRow">
                    <button class="General_Button" type="submit">Login</button>
                </div>
            }
        </div>
    </div>
    <div class="Login_RegisterPanel">
        <div class="Login_innerCenter">
            <label class="SubHeadings">Register</label>
            @using (Html.BeginForm("Register", "Messenger", FormMethod.Post)) {

                <div class="Login_inputRow Login_Smaller">
                    <label>Name</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "General_Inputfield" })
                </div>

                <div class="Login_inputRow Login_Smaller">
                    <label>Password</label>
                    @Html.TextBoxFor(model => model.PW, new { @class = "General_Inputfield", type = "password" })
                </div>

                <div class="Login_inputRow Login_Smaller">
                    <label>Repeat Password</label>
                    @Html.TextBoxFor(model => model.PW2, new { @class = "General_Inputfield", type = "password" })
                </div>

                <div class="Login_inputRow Login_Smaller">
                    <button class="General_Button WaitFor" type="submit">Register</button>
                </div>

            }
        </div>
    </div>
</div>