@model WebMessenger.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_NavBar", 0)

<div class="Login_Layout">
    <div class="Login_LoginPanel">
        <div class="Login_innerCenter">
            <label class="Login_subHeadings">Login</label>

            @using (Html.BeginForm("CheckLoginAsync", "Messenger", FormMethod.Post)) {


                <div class="Login_inputRow">
                    <label>Name</label>
                    @Html.TextBoxFor(model => model.Name, new { id = "" })
                </div>
                <div class="Login_inputRow">
                    <label>Password</label>
                    @Html.TextBoxFor(model => model.PW, new { @type = "password" })
                </div>
                <div class="Login_inputRow">
                    <button type="submit">Login</button>
                </div>
            }
        </div>
    </div>
    <div class="Login_RegisterPanel">
        <div class="Login_innerCenter">
            <label class="Login_subHeadings">Register</label>
            @using (Html.BeginForm("RegisterAsync", "Messenger", FormMethod.Post)) {

                @Html.TextBoxFor(model => model.Name, new { id = "" })

                @Html.TextBoxFor(model => model.PW, new { id = "" })

                @Html.TextBoxFor(model => model.Seed, new { id = "" })

                <button class="submitButtonTable" type="submit">Register</button>
            }
        </div>
    </div>
</div>