@model WebMessenger.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("CheckLoginAsync", "Messenger", FormMethod.Post)) {

    <br /><label>Name</label> @Html.TextBoxFor(model => model.Name)
    <br /><label>Password</label> @Html.TextBoxFor(model => model.PW)
    <button type="submit">Login</button>

}

<br /><br /><br />

<h2>Register</h2>

@using (Html.BeginForm("RegisterAsync", "Messenger", FormMethod.Post)) {

    <br /> <label>Name</label> @Html.TextBoxFor(model => model.Name)
    <br /> <label>Password</label> @Html.TextBoxFor(model => model.PW)
    <br /> <label>Seed</label> @Html.TextBoxFor(model => model.Seed)
    <button type="submit">Register</button>

}


