@model WebMessenger.Models.User_Chat

@Html.Partial("_NavBar", ViewData["Local"])

<div id="layout">
    <div id="Chat_Navigation">
        @Html.Partial("_Chat_Navigation")
    </div>
    <div id="Chat_MainFrame">

        @{
            if (ViewData["Current"] != null) {

                string currentSite = (string)ViewData["Current"];

                if (currentSite.Equals("OpenRequests")) {
                    @Html.Partial("_DisplayOpenRequests");
                }

                if (currentSite.Equals("AddFriend")) {
                    @Html.Partial("_AddFriend");
                }

                if (currentSite.Equals("ShowChats")) {
                    Connections[] list = ViewData["ConnectionList"] as Connections[];
                    @Html.Partial("_Chats", list);
                }

                if (currentSite.Equals("Chat")) {
                    List<ChatEntry> list = ViewData["ChatList"] as List<ChatEntry>;
                    @Html.Partial("_DisplayChat", list);
                }

            } 
        }

    </div>
</div>